/* ------------------------------------------------ */
/* import global variables */
@import "../../../../styles/global-variables";

/* ------------------------------------------------ */
/* component scoped SCSS */
/* ------------------------------------------------ */
.syntax-style {
    :global {
        pre {
            background-color: #fff !important;
            border: solid 1px #eee;
            border-radius: 8px;
            code {
                background-color: #fff !important;
            }
        }
    }
}
