/* ------------------------------------------------ */
/* import global variables */
@import "../../../styles/global-variables";

/* ------------------------------------------------ */
/* component scoped SCSS */
/* ------------------------------------------------ */
.page-8 {
    background-color: #f8f9fb;
    &.page-wrapper {
        padding-top: 56px;
        .content {
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}
