.pwa-install-component {
    button {
        min-width: 90px;
    }
    &.white {
        background-color: #fff;
        border-top: solid 4px #0768fd;
        .actions {
            button {
                border-color: #0768fd;
            }
        }
    }
    .outline-white-button {
        color: #fff !important;
        border-color: #fff !important;
        background-color: transparent !important;
    }
    background-color: #434343;
    box-shadow: 0 -4px 8px 0 rgba(3, 3, 3, 0.1), 0 4px 5px 0 rgb(0 0 0 / 4%);
    padding: 18px 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    min-height: 75px;
    z-index: 10500;
    display: flex;
    flex-direction: row;
    align-items: center;
    .col {
        padding: 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #444;
        &.icon {
            color: #0768fd;
            width: 80px;
            padding-left: 24px;
            //padding-right: 12px;
            svg {
                width: 48px;
                height: 48px;
            }
        }
        &.text {
            font-size: 13px;
            line-height: 17px;
            width: auto;
            display: block;

            .title {
                font-size: 14px;
                color: #0768fd;
                font-weight: 500;
                margin-bottom: 4px;
            }
        }
        &.actions {
            margin-left: auto;
            margin-right: 24px;
        }
    }
    @media only screen and (max-width: 1024px) {
        flex-direction: column;
        .col {
            &.icon {
                padding-left: 0;
                padding-bottom: 12px;
                width: 48px;
                height: 48px;
            }
            &.text {
                text-align: center;
                margin-bottom: 20px;
                padding-left: 16px;
                padding-right: 16px;
            }
            &.actions {
                margin-left: 0;
                margin-right: 0 !important;
            }
        }
    }
}
