/* ------------------------------------------------ */
/* import global variables */
@import "../../../styles/global-variables";

/* ------------------------------------------------ */
/* component scoped SCSS */
/* ------------------------------------------------ */
.tab-tests {
    .ani-container {
        .grid-item {
            .ani-lottie {
                width: 200px;
                height: 200px;
                margin: 0 auto;
            }
        }
    }
}
