/* ------------------------------------------------ */
/* import global variables */
@import "../../styles/global-variables";

/* ------------------------------------------------ */
/* component scoped SCSS */
/* ------------------------------------------------ */
.page-home {
    background-color: #f8f9fb;
    &.page-wrapper {
        display: flex;

        padding-top: 56px;

        .content {
            width: 100%;
            padding-left: 0;
            padding-right: 0;

            /* ------------------------------------------------ */
            /* TOP HERO */
            .top-hero {
                margin-bottom: 20px;
                padding-top: 10px;
                z-index: 10;
                position: relative;

                > p {
                    //opacity: 0.8;
                }
                @media (max-width: $clx-break-max-width-2-sm) {
                    > div {
                        h3 {
                            text-align: center;
                            width: 100%;
                        }
                    }
                    > p {
                        padding-top: 10px;
                        text-align: center;
                    }
                }

                .top-grid-container {
                    padding-top: 24px;
                    .grid-item {
                    }
                }

                .card-content {
                    padding: 24px 32px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    @media (max-width: $clx-break-max-width-2-sm) {
                        padding: 16px 16px 32px;
                    }

                    .card-title {
                        font-size: 30px;
                        margin-bottom: 24px;
                        font-weight: 300;
                        letter-spacing: -0.025rem;
                        text-align: center;
                        opacity: 0.7;

                        @media (max-width: $clx-break-max-width-3-md) {
                            font-size: 26px;
                            margin-bottom: 20px;
                        }

                        @media (max-width: $clx-break-max-width-1-xs) {
                            font-weight: 400;
                            font-size: 22px;
                            margin-bottom: 16px;
                        }
                    }
                    .card-body {
                        padding-bottom: 48px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;

                        .card-icon {
                            flex: 1 0 auto;

                            width: 90px;
                            height: 90px;
                            padding: 18px;
                            border-radius: 50%;
                            align-self: center;
                            margin-bottom: 24px;
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .card-text {
                            color: $clx-color-neutral-7;
                            font-size: 16px;
                            font-weight: 400;
                            margin: 0 0 16px 0;
                            line-height: 1.3;
                            p {
                                margin: 0 0 6px 0;
                            }
                            @media (max-width: $clx-break-max-width-1-xs) {
                                font-size: 14px;
                                margin: 0 0 8px 0;
                            }
                        }
                    }
                    .card-footer {
                        position: absolute;
                        background-color: $clx-color-neutral-1;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-top: solid 1px $clx-color-neutral-3;
                        padding: 16px;
                        display: flex;
                        justify-content: center;
                        .link {
                            display: block;
                            min-width: 200px;
                            button {
                                width: 100%;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        display: block;
                    }

                    &.purple {
                        background: linear-gradient(to bottom, rgb(253, 236, 255), #ffffff, #ffffff, #ffffff);
                        .card-icon {
                            color: $clx-color-data-purple;
                            background-color: rgba($clx-color-data-purple, 0.1);
                        }
                        .card-title {
                            color: $clx-color-data-purple;
                        }
                    }
                    &.fuchsia {
                        background: linear-gradient(to bottom, rgb(252 235 241), #ffffff, #ffffff, #ffffff);
                        .card-icon {
                            color: $clx-color-data-fuchsia;
                            background-color: rgba($clx-color-data-fuchsia, 0.1);
                        }
                        .card-title {
                            color: $clx-color-data-fuchsia;
                        }
                    }
                    &.green {
                        background: linear-gradient(to bottom, rgb(244, 255, 246), #ffffff, #ffffff, #ffffff);

                        .card-icon {
                            color: $clx-color-data-green;
                            background-color: rgba($clx-color-data-green, 0.1);
                        }
                        .card-title {
                            color: $clx-color-data-green;
                        }
                    }
                }
            }

            /* ------------------------------------------------ */
            /* BOTTOM */
            .bottom-area {
                z-index: 9;
                background-color: #f8f9fb;
                position: relative;

                .card-content-bottom {
                    background: linear-gradient(to bottom, rgb(254 240 223), #ffffff, #ffffff, #ffffff);

                    padding: 24px 16px;
                    .head-area {
                        padding: 4px 10px 8px;
                        opacity: 0.7;
                    }
                    .center-area {
                        display: flex;
                        align-items: center;
                        .img-xtra {
                            flex: 1 1 100%;
                            width: 150px;
                            height: 150px;
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .img-main {
                            flex: 1 1 100%;
                            div {
                                margin: 0 auto;
                                width: 250px;
                                height: 250px;
                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                        @media (max-width: $clx-break-max-width-2-sm) {
                            margin-top: 10px;
                            flex-direction: column;
                            .img-xtra {
                                //display: none;
                                width: 130px;
                                height: 130px;
                            }
                        }
                    }
                    .foot-area {
                        padding: 8px 10px 0;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
