/* ------------------------------------------------ */
/* import global variables */
@import "../../../../styles/global-variables";
/* ------------------------------------------------ */
/* component scoped SCSS */
/* ------------------------------------------------ */

.panel {
    display: flex;
    height: 200px;
    box-sizing: content-box;
}
